#news {
  display: inline-flex;
  width: 473px;
  height: 480px;
}

#statusArea {
  position: absolute;
  bottom: 10px;
  overflow: hidden;
  width: 98%;
  height: 30px;
}

#currentProgress {
  width: 78%;
  height: 30px;
}

#btn-launch {
  float: right;
  width: 100px;
  height: 30px;
}